body {
    background: #f0f0f0;
}

.container {

}

.block {
    background: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 3px #AAA;
    -moz-box-shadow: 0 0 3px #AAA;
    -webkit-box-shadow: 0 0 3px #AAA;
}

#topmenu {
    font-weight: bold;
    font-size: 14px;
}

.left-sidebar {
}

.home-content {
    padding-left: 20px;
}

.right-sidebar {

}