body {
    background: #f0f0f0;
}

.container {

}

.block {
    background: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 3px #AAA;
    -moz-box-shadow: 0 0 3px #AAA;
    -webkit-box-shadow: 0 0 3px #AAA;
}

#topmenu {
    font-weight: bold;
    font-size: 14px;
}

.left-sidebar {
}

.home-content {
    padding-left: 20px;
}

.right-sidebar {

}


#scrolltotop {
    bottom: 0;
    position: fixed;
    right: 15px;
    z-index: 999;
}

#scrolltotop a {
    color: #666;
    display: block;
    font-weight: bold;
    line-height: 1em;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: rgb(252, 252, 252);
    background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(241, 241, 241, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(241, 241, 241, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#f1f1f1', GradientType = 0);
}

#scrolltotop a:hover {
    color: #444;
    text-decoration: none;
}