body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#topmenu {
    background: #3b5998 !important;
}

.left-sidebar {
    border-right: 1px solid #e5e5e5
}

.home-content {
    border-right: 1px solid #e5e5e5
}

.right-sidebar {

}