@(dislike: Dislike, comments: List[Comment], users: List[User], explandComment: Boolean = false)(implicit user: User)

@import controllers.wall._

<div class="home-item-comment" id='home-item-comment-@dislike.id' style="@if(!explandComment) {display: none}">
    <ul id="home-item-comment-list-@dislike._id">
        @comments.map {comment =>
            @users.find(_._id == comment.userId).map {user =>
            <li id="home-item-comment-li-@comment.id">
                <div class="well-small row-fluid" onmouseover="show_delete(this)" onmouseout="hide_delete(this)">
                    <div class="span1">
                        <a href="/wall/@user.username">
                            <img src="/profile/avatar/@user.username" alt="" width="30">
                        </a>
                    </div>
                    <div class="span10">
                        <a href="/wall/@user.username">@user.name</a> @comment.content
                        <div>
                            <a href="">Like</a>
                        </div>
                    </div>
                    <div class="home-item-comment-remover">
                        <i class="icon-remove" onclick="delete_comment('@comment.id','@routes.CommentController.delete(comment._id)')"></i>
                    </div>
                </div>
            </li>
            }
        }
    </ul>
    <ul>
        <li>
            <div class="well-small row-fluid">
                <div class="span1">
                    <img src="/profile/avatar" alt="" width="30">
                </div>
                <div class="span10">
                    <input type="text" onkeypress="post_comment(event, '@routes.CommentController.post', this, '@dislike._id', '/profile/avatar', '@user.name', '/wall/@user.username')" class="input-block-level" placeholder="Write a comment">
                </div>
            </div>
        </li>
    </ul>
    <br>
</div>