@()

<div class="home-item-comment">
    <ul>
        <li>
            <div class="well-small row-fluid">
                <div class="span1">
                    <img src="/assets/img/dungvn3000.jpg" alt="" width="30">
                </div>
                <div class="span10">
                    <a href="">mr dislike</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    quis nostrud exercitation ullamco laboris ni
                    <div>
                        <a href="">Like</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="well-small row-fluid">
                <div class="span1">
                    <img src="/assets/img/dungvn3000.jpg" alt="" width="30">
                </div>
                <div class="span10">
                    <input type="text" class="input-block-level" placeholder="Write a comment">
                </div>
            </div>
        </li>
    </ul>
</div>