@(dislike: Dislike, comments: List[Comment], users: List[User], explandComment: Boolean = false)(implicit user: User)

<div class="row-fluid home-item-container">
    @users.find(_._id == dislike.userId).map{postedUser =>
        <div class="home-item-avatar">
            <img src="/profile/avatar/@postedUser.username" alt="dungvn3000">
        </div>
        <div class="home-item-content span9">
            <div class="home-item-status">
                <a href="/wall/@postedUser.username">@postedUser.name</a> vừa đăng
            </div>
            <div>@dislike.content</div>
            <div>
                @dislike.title.map{title =>
                    <a href='@dislike.url.getOrElse("#")' target="_blank"><h5>@title</h5></a>
                }
                @dislike.image.map{image =>
                    <a @if(!dislike.url.isEmpty){href='@dislike.url.getOrElse("#")' target="_blank"}>
                        <img src="/dislike/image/@dislike._id" alt="" style="max-height: 250px;">
                    </a>
                }

                @dislike.featureImage.map{image =>
                    <div class="span3" style="padding-right: 5px">
                        <a href='@dislike.url.getOrElse("#")' target="_blank"><img src="/dislike/featureImage/@dislike.id" alt=""></a>
                    </div>
                }

                @dislike.description.map{description =>
                    <div>
                        @description
                    </div>
                }
            </div>
            <div>
                <a href="#" onclick="return false;">Ném đá</a> -
                <a href="#" onclick="show_comment('home-item-comment-@dislike.id');return false;">
                    @if(!comments.isEmpty){(@comments.size)} Chém gió
                </a>
            </div>
            <div class="clearfix"></div>
            <br>
            @comment(dislike, comments, users, explandComment)
        </div>
    }

</div>
<div class="clearfix"></div>