@(dislike: Dislike, comments: List[Comment])

<div class="well-small row-fluid">
    <div class="home-item-avatar">
        <img src="/assets/img/dungvn3000.jpg" alt="dungvn3000">
    </div>
    <div class="home-item-content span9">
        <div class="home-item-status">
            <a href="">mr dislike</a> vừa không thích
        </div>
        <div>@dislike.content</div>
        <div>
            <a href="">Ném đá</a> -
            <a href="">Chém gió</a> -
            <a href="">Bình luận</a>
        </div>
        @comment(dislike, comments)
    </div>
</div>
<div class="clearfix"></div>
<hr>
